# Data files (so that they are not in a public repo)
data/

# Old or temporary files that don't need to be version controlled
zzzOld/
doc/.tmp
doc/*~*

# Files in the literature_resources
doc/literature_resources/*~*

# R related files
.Rhistory
.Rdata
.Rproj.user

# Preview of README.md
README.html

